setuptools>=42
wheel>=0.37
torch
huggingface_hub>=0.24
soundfile
torchaudio
munch 
pydub 
PyYAML 
librosa 
nltk 
matplotlib 
accelerate
langchain 
transformers
cached-path
filelock
einops
einops-exts
scipy 
tqdm 
typing 
typing-extensions
gruut 
gruut-ipa 
gruut-lang-en
networkx 