setuptools>=42
wheel>=0.37
torch==2.1.2
huggingface_hub>=0.23
soundfile
torchaudio==2.1.2
munch 
pydub 
PyYAML 
librosa 
nltk 
matplotlib 
accelerate
langchain 
transformers
cached-path
filelock
einops
einops-exts
scipy 
tqdm 
typing 
typing-extensions
gruut>=2.3.4
gruut-ipa>=0.13.0
gruut-lang-en>=2.0.0
networkx 
monotonic_align @ git+https://github.com/resemble-ai/monotonic_align.git